<a href="https://colab.research.google.com/github/SRIPONSANKAR/DATAMINING/blob/main/Copy_of_DATA_CLEANNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_path='/content/drive/MyDrive/5th SEM/DATA MINING/games.csv'

df=pd.read_csv(file_path, encoding='latin-1')
print(df)

      AppID                              name  required_age  price  dlc_count  \
0       730                  Counter-Strike 2             0   0.00          1
1    578080               PUBG: BATTLEGROUNDS             0   0.00          0
2       570                            Dota 2             0   0.00          2
3    271590                Grand Theft Auto V            17   0.00          1
4    359550  Tom Clancy's Rainbow Six?? Siege            17  19.99          9
..      ...                               ...           ...    ...        ...
94  1468810     ª¬øú?®? Tale of Immortal             0  19.99          2
95    49520                     Borderlands 2            17  19.99          5
96   632360                    Risk of Rain 2             0  24.99          4
97    72850       The Elder Scrolls V: Skyrim            17  19.99          1
98  1238810                  Battlefield? V            17  49.99          2

    metacritic_score  achievements  recommendations  pct_pos_total  \
0                  0             1          4111974             87
1                  0            37          1701431             58
2                 90             0            14329             81
3                 96            77          1641404             87
4                  0             0          1088708             85
..               ...           ...              ...            ...
94                 0           169           188472             53
95                89            75           193698             95
96                85           118           183093             96
97                94            75           180955             94
98                 0            21           179931             70

    Unnamed: 9  ...  Unnamed: 207  Unnamed: 208  Unnamed: 209  Unnamed: 210  \
0          NaN  ...           NaN           NaN           NaN           NaN
1          NaN  ...           NaN           NaN           NaN           NaN
2          NaN  ...           NaN           NaN           NaN           NaN
3          NaN  ...           NaN           NaN           NaN           NaN
4          NaN  ...           NaN           NaN           NaN           NaN
..         ...  ...           ...           ...           ...           ...
94         NaN  ...           NaN           NaN           NaN           NaN
95         NaN  ...           NaN           NaN           NaN           NaN
96         NaN  ...           NaN           NaN           NaN           NaN
97         NaN  ...           NaN           NaN           NaN           NaN
98         NaN  ...           NaN           NaN           NaN           NaN

    Unnamed: 211  Unnamed: 212  Unnamed: 213  Unnamed: 214  Unnamed: 215  \
0            NaN           NaN           NaN           NaN           NaN
1            NaN           NaN           NaN           NaN           NaN
2            NaN           NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN           NaN
..           ...           ...           ...           ...           ...
94           NaN           NaN           NaN           NaN           NaN
95           NaN           NaN           NaN           NaN           NaN
96           NaN           NaN           NaN           NaN           NaN
97           NaN           NaN           NaN           NaN           NaN
98           NaN           NaN           NaN           NaN           NaN

    Unnamed: 216
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
94           NaN
95           NaN
96           NaN
97           NaN
98           NaN

[99 rows x 217 columns]

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

AppID            0
name             0
required_age     0
price            0
dlc_count        0
                ..
Unnamed: 212    99
Unnamed: 213    99
Unnamed: 214    99
Unnamed: 215    99
Unnamed: 216    99
Length: 217, dtype: int64

In [ ]:
import pandas as pd
column_name="AppID"
try:

  df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
  sort_value=np.sort(df[column_name].values)
  print(sort_value)
except ValueError:
  print("error")

[    440     550     570     620     730    4000   49520   72850  105600
  108600  218620  221100  227300  230410  236390  238960  239140  242760
  250900  251570  252490  252950  255710  261550  264710  271590  275850
  284160  289070  291550  292030  304930  322170  322330  346110  359550
  367520  374320  377160  381210  391540  394360  413150  433850  438100
  444090  548430  553850  578080  582010  585560  632360  648800  698780
  700330  739630  814380  892970  945360  960090  976730  990080 1063730
 1085660 1086940 1091500 1097150 1118200 1145360 1172470 1172620 1174180
 1203220 1237970 1238810 1245620 1293830 1468810 1517290 1599340 1623730
 1794680 1938090 1966720 2010440 2110070 2253490 2271480 2304250 2357570
 2494100 2514940 2578550 2581680 2584190 2587440 2613460 2652950 2718080]

In [ ]:
import pandas as pd
import numpy as np

num_bins = 2
bin_size = len(sort_value) // num_bins
if bin_size == 0:
    num_bins = 1
bin_mean = np.zeros(num_bins)
bin_boundaries = np.zeros((num_bins, bin_size))
bin_median = np.zeros(num_bins)


sort_value_datetime = sort_value.astype('datetime64[s]')

for i in range(num_bins):
    start = i * bin_size
    end = (i + 1) * bin_size

    timestamps = (sort_value_datetime[start:end] - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')
    bin_mean[i] = np.mean(timestamps)
    bin_mean_datetime = pd.to_datetime(bin_mean[i] * 1e9)
    print("Bin mean (datetime):", bin_mean_datetime)

    for j in range(bin_size):

        if (sort_value[start + j] - sort_value[start]) < (sort_value[start + bin_size - 1] - sort_value[start + j]):
            bin_boundaries[i, j] = sort_value[start]
        else:
            bin_boundaries[i, j] = sort_value[start + bin_size - 1]
    print("Bin boundary:",bin_boundaries[i])

    timestamps_median = (sort_value_datetime[start:end] - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')
    bin_median[i] = np.median(timestamps_median)
print("Bin median:\n", bin_median)

Bin mean (datetime): 1970-01-04 01:56:24.489795918
Bin boundary: [4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02
 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02
 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02
 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02
 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 4.4000e+02 5.7808e+05
 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05
 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05
 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05 5.7808e+05
 5.7808e+05]
Bin mean (datetime): 1970-01-18 08:11:58.571428571
Bin boundary: [ 582010.  582010.  582010.  582010.  582010.  582010.  582010.  582010.
  582010.  582010.  582010.  582010.  582010.  582010.  582010.  582010.
  582010.  582010.  582010.  582010.  582010.  582010.  582010.  582010.
  582010.  582010.  582010.  582010.  582010.  582010.  582010. 2652950.
 2652950. 2652950. 2652950. 2652950. 2652950. 2652950. 2652950. 2652950.
 2652950. 2652950. 2652950. 2652950. 2652950. 2652950. 2652950. 2652950.
 2652950.]
Bin median:
 [ 264710. 1237970.]

<ipython-input-22-3854bbb7997d>:19: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  timestamps = (sort_value_datetime[start:end] - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')
<ipython-input-22-3854bbb7997d>:32: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  timestamps_median = (sort_value_datetime[start:end] - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')